.relay-plain-paper {
  max-width: 600px;
  min-height: 300px;
  margin: auto;
  border: 60px solid;
  border-image-source: url("https://iris-kane.github.io/paper-border-2.png");
  border-image-slice: 60 fill;
  border-image-repeat: stretch;
  color: black;
  padding: 0em 0 4em 0;
}

.relay-plain-paper.long {
  border-image-source: url("https://iris-kane.github.io/paper-border-3-long.png");
}
.relay-plain-paper.short {

  border-image-source: url("https://iris-kane.github.io/paper-border-3-short.png");
}
.relay-plain-paper.blank {
  border-image-source: url("https://iris-kane.github.io/paper-border-2.png");
}

.relay-plain-paper b, .relay-plain-paper mycode_b {
  
}
