@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.relay-v2-wrapper {
  max-width: 600px;
  min-height: 300px;
  margin: auto auto 200px auto;
  border: 40px solid;
  border-image-source: url("https://iris-kane.github.io/paper-border-2.png");
  border-image-slice: 60 fill;
  color: #3e2f1c;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  padding: 0 0 70px 0;
  position: relative;
}

.relay-v2-content {

}

.relay-v2-feature-img {
  width: 480px;
  position: absolute;
  clip-path: path("M0 0 L175 110 L312 110 L312 0 L480 0 L480 320 L0 320 Z");
  bottom: -244px;
}

@media (min-width: 1200px) {
  .relay-plain-paper b, .relay-plain-paper mycode_b {
    color: black;
  }
}

@media (max-width: 1200px) {
  .relay-v2-feature-img {
    display: none;
  }
}
