.kjartan-dsl-v1-wrapper {
    width: 750px;
    margin: auto;
    padding: 2em;
    position: relative;
}
.kjartan-dsl-v1-content {
    width: 400px;
    margin: 0 auto 70px;
    padding: 1em;
    color: #101314;
    text-align: justify;
    border: 22px solid transparent;
    border-image: url("https://iris-kane.github.io/ardent/tables/kjartan/kjartan-border-v1.png") 26 stretch;
}

@media (max-width: 1200px) {
    .kjartan-dsl-wrapper img {display: none}
    .kjartan-dsl-content {}
}
