.kjartan-dsl-v1-wrapper {
    width: 750px;
    margin: auto;
    padding: 2em;
    position: relative;
}
.kjartan-dsl-v1-content {
    position: relative;
    margin: 0 auto 70px;
    padding: 3em 3em 6em;;
    width: 500px;
    color: #101314;
    text-align: justify;
    background-color: antiquewhite;
    shape-margin: polygon(49.36% 93.59%, 7.27% 95.56%, 145px 43.85%);
}

.kjartan-dsl-v1-content:before {
    position: absolute;
    content: "";
    inset: 0px;
    border: 48px solid transparent;
    border-width: 48px;
    border-image: url("https://iris-kane.github.io/ardent/tables/kjartan/kjartan-dsl-border-v1.svg") 30 stretch;
    filter: hue-rotate(60deg) brightness(70%) contrast(80%);
}

.kjartan-dsl-v1-feature {
    width: 500px;
    position: absolute;
    bottom: -40px;
    left: -10px;
    z-index: 1;
    
}

@media (max-width: 1200px) {
    .kjartan-dsl-v1-feature {display: none}
    .kjartan-dsl-content {}
}
