.ayato-v1-wrapper {
    background-color: #fffaf2;
    width: 640px;
    margin: auto;
    max-height: 900px;
    padding: 2em;
    border: 3px solid #b0453a;
    box-shadow: 5px 5px 10px gray;
    position: relative;
    box-sizing: content-box;
}
.ayato-v1-content {
    padding: 1em;
    color: #101314;
    text-align: justify;
    border: 22px solid transparent;
    border-image: url("ayato-border-1.svg") 26 stretch;
    margin-top: 200px;
}

@media (max-width: 1200px) {
    .ayato-v1-wrapper img {display: none}
    .ayato-v1-content {margin-top: unset;}
}
